page-home {
  .swiper-slide {
         overflow-y: scroll;
         display: block;
        }

         .card-title, p {
  
    color: #fff;
  }

  
}
.md{
	ion-card-content {
           
             text-align: left;
        }
}
